.chart_wrapper {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.row {
  width: 100%;
  justify-content: center;
}

.plotRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.plot_wrapper {
  height: 80vh;
  width: 40%;
  margin: 5% 2.5%;
  background-color: #222831;
  border-radius: 2%;
}
