#right_wrapper {
  position: relative;
  right: 0px;
  width: 16%;
  height: 100vh;
  
}
.history{
  background-color: #1b262c;
  font: #ff0000;
  font-weight: bold;
  height: 25%;
  padding-top: 0 px;
}
