body {
  background-color: #151d1e;
  display: flex;
}

#preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #151d1e url("../img/preloader.gif") center no-repeat;
  z-index: 100;
}

#center_wrapper {
  margin-left: 80px;
  width: 80%;
  height: 100vh;
}

.first,
.second,
.third {
  height: 100vh;
}

#header_wrapper {
  display: flex;
  justify-content: space-between;
}

#dashboard {
  position: relative;
  width: 250px;
  margin: 0px 0px;
  padding: 20px 30px;
  color: #ffffff;
}

#file_upload_wrapper {
  width: 500px;
  margin-top: 0px;
  padding: 0px 80px;
}

#file_upload_wrapper h2,
h5 {
  color: #ffffff;
}

input[type="file"] {
  display: none;
}

#file_upload_wrapper label i {
  color: #ffffff;
  font-size: 25px;
  padding: 15px 15px;
  border-radius: 50%;
  background: linear-gradient(#ff4b33, #9603b3);
  translate: (-50%, -50%);
}

#file_upload_wrapper label i:hover {
  font-size: 30px;
  background: linear-gradient(#9603b3, #ff4b33);
  transition: 0.25s;
  cursor: pointer;
}

#page_heading {
  width: 600px;
  float: right;
}

#page_heading h1 {
  font-size: 7.5rem;
  font-weight: 600;
  color: black;
}
blockquote {
  font-size: 14.5px;
}
.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
  background-color: #222831;
}
.table-wrapper-scroll-y {
  display: block;
  background-color: #222831;
}

tr {
  border-bottom: 10px solid #000;
}
.table tbody tr th {
  border-top: 2px solid #16232c;
}
th {
  background-color: #000;
  font-weight: 500;
  color: #ffffff;
}
.table td {
  color: #ffffff;
}
.table {
  /* font:#c02739; */
  background-color: #1b262c;
}
/* #table_wrapper .container{
  background-color: #151d1e;
} */

/* scroll bar saxxxx */
::-webkit-scrollbar {
  width: 0 !important;
  /* width of the entire scrollbar */
}

/* scroll bar saxxxx */

/* .table-bordered{
  border: 1px solid #801336;
} */

h2 {
  text-align: center;
}

.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
