<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Churn Data Analysis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/sidebar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/right_sidebar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>

    <div id="preloader"></div>
    <div id="table_preloader"></div>

    <nav id="sidebar">
        <div class="sidebar-header">
            <strong>CD</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a id="table_toggle">
                    <i class="fas fa-table"></i>
                </a>
            </li>
            <li>
                <a id="chart_toggle">
                    <i class="fas fa-chart-pie"></i>
                </a>
            </li>
            <li>
                <a id="predict_toggle">
                    <i class="fas fa-diagnoses"></i>
                </a>
            </li>
        </ul>

    </nav>
    <!--nav end -->

    <div id="center_wrapper">
        <!--center_wrapper start -->
        <h3 id="dashboard"><strong>Dashboard</strong></h3>

        <div id="header_wrapper">
            <!--header_wrapper start -->
            <div id="file_upload_wrapper">

                <h2><strong>Add .csv data</strong></h2>
                <h5>Upload your data to our website<br>to start analyzing</h5>
                <br>
                <form id='getfile' action="/upload" method="POST" enctype="multipart/form-data">
                    <label for="fileUpload" id="file_upload_label">
                        <i class="fas fa-plus" id="upload_icon"></i>
                        <input type="file" id="fileUpload" name="file" accept=".csv">
                    </label>
                </form>
            </div>
            <div id="page_heading">
                <h1>Churn Analyzer</h1>
                <blockquote class="blockquote text-right" style="text-align: left; color: #ffffff;">
                    <p class="mb-0">Your most unhappy customers are your greatest source of learning!!</p>
                    <footer class="blockquote-footer">Bill Gates</footer>
                </blockquote>
            </div>
        </div>
        <!--header_wrapper end -->

        <div id="table_wrapper">
            <!--table_wrapper start -->
            <form id='getfile' action="/upload" method="POST" enctype="multipart/form-data">
                <br>
                <div class="container">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar loader">
                        <div id="table">

                        </div>

                    </div>

                </div>
            </form>
            <div class="uploadsss">
                <button class="btn btn-success" id="clean" onclick=upload() disabled="disabled">Clean
                    Data</button>
            </div>
        </div>
        <!--table_wrapper end -->
    </div>
    <!--center_wrapper end -->

    <div id="right_wrapper">
        <div class="timeline">
            
                <ul class="filezz">
                </ul>
            
        </div>
        <!--right_wrapper start -->

    </div>
    <!--right_wrapper end -->





    <!-- script links  -->

    <script src="{{ url_for('static', filename = 'js/jquery.js')}}"></script> <!-- offline - static/js/ , jquery file-->
    <script src="https://kit.fontawesome.com/0f8d0c9a14.js" crossorigin="anonymous"></script> <!-- cdn, icons-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script> <!-- cdn, bootstrap functions -->

    <script src="{{ url_for('static', filename = 'js/style.js')}}"></script>
    <!-- offline - static/js/ , responsible for handling style related js-->
    <script src="{{ url_for('static', filename = 'js/main.js')}}"></script>
    <!-- offline - static/js/ , responsible for functionality-->
    <script src="{{ url_for('static', filename = 'js/requests.js')}}"></script>
    <!-- offline - static/js/ , reponsible for making request calls to server -->

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                var pl = document.getElementById('preloader')
                pl.style.display = 'none';
            }, 2000);

        })
    </script>
</body>

</html>